package pages_shs

import "github.com/ewen-lbh/portfolio/components"

templ CareerPage() {
	<main class={ main() }>
		<h1>Career development</h1>
		@components.ArrowLink("https://ewen.works/to/github") {
			Github profile (social coding platform)
		}
		@components.ArrowLink("https://ewen.works/resume") {
			Resume
		}
	</main>
}
