package components

import "github.com/ortfo/db"

css galleryPageMain() {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

templ GalleryPage(works []ortfodb.AnalyzedWork, language string, title string) {
	<main class={ galleryPageMain() }>
		<h1 i18n>{ title }</h1>
		{ children... }
		@WorksGrid(works, language, "works")
	</main>
}
