package components

templ Intro() {
	<section class="intro">
		<p class="pre-h1" i18n>Hi! I'm Ewen Le Bihan.</p>
		<h1 i18n>These are my creations.</h1>
		<p i18n>I'm interested in almost anything that is both creative and digital.</p>
		{ children... }
	</section>
}
