package pages

import "github.com/ewen-lbh/portfolio/shared"
import "github.com/ewen-lbh/portfolio/components"
import "github.com/ortfo/db"

templ Collection(collection shared.Collection, db ortfodb.Database, tags []shared.Tag, techs []shared.Technology, language string) {
	@components.GalleryPage(
		collection.Works(db, tags, techs), 
		language, 
		collection.Title[language],
		true,
	) {
		<p class="description">
			{ collection.Description[language] }
		</p>
	}
}
