package pages

import "github.com/ortfo/db"
import "github.com/ewen-lbh/portfolio/components"

templ Index(db ortfodb.Database, language string) {
	@components.Intro() {
		@components.ArrowLink("/about") {
			Learn more 
		}
	}
	@components.GalleryPage(db.WorksSlice(), language, "", false)
}
