package pages

import "github.com/ortfo/db"
import "github.com/ewen-lbh/portfolio/components"

templ Index(db ortfodb.Database, language string) {
	@components.Intro() {
		@components.ArrowLink("/about") {
			<i18n>Learn more</i18n>
		}
	}
	@components.GalleryPage(db.WorksSlice(), language)
}
